/* src/pages/NotFound.css */
.not-found {
  text-align: center;
  margin-top: 5rem;
  padding: 1rem;
  font-family: var(--font-main);
}

.not-found h2 {
  font-size: 2rem;
  color: var(--clr-green);
}

.not-found p {
  margin: 1rem 0;
  font-size: 1.1rem;
}

.back-home {
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  color: var(--clr-dark);
  border: 1px solid var(--clr-dark);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: 0.3s;
}

.back-home:hover {
  background-color: var(--clr-dark);
  color: var(--clr-white);
}

