.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: var(--clr-dark-grey);
  color: var(--clr-very-light-grey);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content:space-between;
  font-size: 0.9rem;
  z-index: 1000;
  padding-left: 2rem;
}

.social-icons {
  margin-top: 0.1rem;
  margin-left:auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-right: 2rem;
}

.social-icons img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.attribution {
  font-size: 0.65rem;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 1px;
  left: 0;
  color: hsl(228, 45%, 80%);
}

.attribution a {
  color: hsl(228, 100%, 76%);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}

/* Mobile adaptation */
@media (max-width: 768px) {
  .footer {
    height: 50px;
    font-size: 0.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .social-icons img {
    width: 20px;
    height: 20px;
  }
}